<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>{% block title %}{% endblock title %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/foundation.min.css' %}">
	{% block cssfields %}
		
	{% endblock cssfields %}
</head>
<body>
<div class="top-bar">
	<div class="top-bar-left">
		<ul class="dropdown menu" data-dropdown-menu>
			<li class="menu-text">SVentas</li>
			<li><a href="#">One</a></li>
			<li><a href="#">Two</a></li>
			<li><a href="#">Three</a></li>
		</ul>
	</div>
	<div class="top-bar-right">
		<ul class="menu">
			<li><input type="search" placeholder="Search"></li>
			<li><button type="button" class="button">Search</button></li>
		</ul>
	</div>
</div>
	{% block content %}

	{% endblock content %}
</body>
</html>