{% extends "base.html" %}

{% block title %}
	Verificación Código
{% endblock title %}

{% block cssfiles %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="css/app.css">
{% endblock cssfiles %}

{% block content %}
	<h4 id="title-register">Verificación de email</h4>

	<div class="grid-x">
		<div class="cell large-3" id="div1"></div>
		<form method="post" class="cell large-5" id="form-login">{% csrf_token %}
			{{ form.as_p }}
			<button type="submit">Enviar</button>
		</form>
		<div class="cell large-3 div2"></div>
	</div>
{% endblock content %}